#!/bin/bash

/dgr/bin/busybox --install &> /dev/null

{{.command}} &
cd /
waitsuccess="0"
if [ -f "/dgr/tests/wait.sh" ]; then
	chmod +x /dgr/tests/wait.sh
	i="0"
	while [ $i -lt 60 ]; do
	  /dgr/tests/wait.sh
	  if [ $? == 0 ]; then
	  	waitsuccess="1"
	  	break;
	  fi
	  i=$[$i+1]
	  sleep 1
	  echo -n "."
	done
fi

if [ wait_success == "0" ]; then
	echo "1\n" > /result/wait.sh
	echo "WAIT FAILED"
	exit 1
fi

/dgr/bin/test.sh
