127.0.0.1	{{if .pod.domain}}{{ .pod.hostname }}.{{ .pod.domain }}{{end}} {{ .pod.hostname }} localhost
::1         {{if .pod.domain}}{{ .pod.hostname }}.{{ .pod.domain }}{{end}} {{ .pod.hostname }} localhost
